<div class="starter-template">
  <h1>Social Networking site.</h1>
  <p>Simple dynamic social networking site similar to twitter</p>
</div>
<center>
  <div class="col-md-8 col-md-offset-4">
    <a class="btn btn-primary btn-lg" href="/signup">SignUp</a>
    <a class="btn btn-success btn-lg" href="/login">Login</a>
  </div>
</center>
